/* General */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: gainsboro;
}

.form-control, .btn {
  box-shadow: none !important;
  outline: none !important;
}

/* Navbar */
nav {
  background-color: antiquewhite;
}

nav ul {
  margin: 0 0 10px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
}

nav ul li {
  padding: 5px;
}

/* TextFilterTopBar */
.userPageLimit {
  max-width: 10vh;
}

/* User Data Table */
#userDataTable th {}

#userDataTable td a {
  text-decoration: none;
  color: black;
}